*.aux
*.log
*.out
*.synctex.gz
*.toc
*.pyc
custom_projects/
.idea/
examples/cmake/*
!examples/cmake/CMakeLists.txt
examples/debug/*
examples/release/*
examples/release_thrust_cpu/*
examples/release_thrust_gpu/*
examples/data/*
examples/configs/*
examples/results/*
examples/include/config.h
examples/include/config.h.in
examples/simulations/*
!examples/simulations/ComplexONModel/
examples/simulations/ComplexONModel/*
!examples/simulations/ComplexONModel/main.cpp
!examples/simulations/ComplexONModel/simulation_header.hpp
!examples/simulations/ComplexPolynomialModel/
examples/simulations/ComplexPolynomialModel/*
!examples/simulations/ComplexPolynomialModel/main.cpp
!examples/simulations/ComplexPolynomialModel/simulation_header.hpp
!examples/simulations/ComplexXYModel/
examples/simulations/ComplexXYModel/*
!examples/simulations/ComplexXYModel/main.cpp
!examples/simulations/ComplexXYModel/simulation_header.hpp
!examples/simulations/IsingModel/
examples/simulations/IsingModel/*
!examples/simulations/IsingModel/main.cpp
!examples/simulations/IsingModel/simulation_header.hpp
!examples/simulations/ONModel/
examples/simulations/ONModel/*
!examples/simulations/ONModel/main.cpp
!examples/simulations/ONModel/simulation_header.hpp
!examples/simulations/PolynomialModel/
examples/simulations/PolynomialModel/*
!examples/simulations/PolynomialModel/main.cpp
!examples/simulations/PolynomialModel/simulation_header.hpp
!examples/simulations/SU2Model/
examples/simulations/SU2Model/*
!examples/simulations/SU2Model/main.cpp
!examples/simulations/SU2Model/simulation_header.hpp
lib/
libgpu/
__pychache__/
.ipynb_checkpoints/
CMakeLists.txt
build/config.sh

