*.aux
*.log
*.out
*.synctex.gz
*.toc
*.pyc
.idea/
cmake/*
debug/*
release/*
release_thrust_cpu/*
release_thrust_gpu/*
data/*
configs/*
results/*
include/config.h
include/config.h.in
simulations/*
!simulations/ComplexONModel/
simulations/ComplexONModel/*
!simulations/ComplexONModel/main.cpp
!simulations/ComplexONModel/simulation_header.hpp
!simulations/ComplexPolynomialModel/
simulations/ComplexPolynomialModel/*
!simulations/ComplexPolynomialModel/main.cpp
!simulations/ComplexPolynomialModel/simulation_header.hpp
!simulations/ComplexPolynomialModel/data/
simulations/ComplexPolynomialModel/data/*
!simulations/ComplexPolynomialModel/data/ComplexPolynomialModelComplexLangevin/
simulations/ComplexPolynomialModel/data/ComplexPolynomialModelComplexLangevin/*
!simulations/ComplexPolynomialModel/data/ComplexPolynomialModelComplexLangevin/raw/
simulations/ComplexPolynomialModel/data/ComplexPolynomialModelComplexLangevin/raw/*
!simulations/ComplexPolynomialModel/data/ComplexPolynomialModelComplexLangevin/raw/__init__.py
!simulations/ComplexPolynomialModel/data/ComplexPolynomialModelComplexLangevin/raw/raw_transformer.py
!simulations/ComplexXYModel/
simulations/ComplexXYModel/*
!simulations/ComplexXYModel/main.cpp
!simulations/ComplexXYModel/simulation_header.hpp
!simulations/IsingModel/
simulations/IsingModel/*
!simulations/IsingModel/main.cpp
!simulations/IsingModel/simulation_header.hpp
!simulations/ONModel/
simulations/ONModel/*
!simulations/ONModel/main.cpp
!simulations/ONModel/simulation_header.hpp
!simulations/PolynomialModel/
simulations/PolynomialModel/*
!simulations/PolynomialModel/main.cpp
!simulations/PolynomialModel/simulation_header.hpp
!simulations/SU2Model/
simulations/SU2Model/*
!simulations/SU2Model/main.cpp
!simulations/SU2Model/simulation_header.hpp
!simulations/U1Model/
simulations/U1Model/*
!simulations/U1Model/main.cpp
!simulations/U1Model/simulation_header.hpp
!simulations/XYModel/
simulations/XYModel/*
!simulations/XYModel/main.cpp
!simulations/XYModel/simulation_header.hpp
!data/ONModelMetropolis/
data/ONModelMetropolis/*
!data/ONModelMetropolis/raw/
data/ONModelMetropolis/raw/*
!data/ONModelMetropolis/raw/raw_transformer.py
__pychache__/
.ipynb_checkpoints/
CMakeLists.txt
bash_scripts/config.sh
bash_scripts/project_config.sh

